<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css"
    />
    <title>Cheat Code</title>
  </head>
  <body>
    <!-- Google auth -->
    <a href="/auth/logout" id="google-out">
      <button class="btn-logout" type="submit">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </a>

    <!-- Dashboard -->
    <div class="main-container">
      <div class="flex-card">
        <!-- Notes container -->
        <div class="flex-inner-card">
          <!-- Notes top-navbar -->
          <div class="top-card-nav">
            <button id="show2" class="btn btn-small btn1">
              <i class="fas fa-edit"></i> Update This Card
            </button>

            <h1 class="main">Q</h1>

            <button id="show1" class="btn btn-small btn2">
              <i class="fas fa-plus"></i> Add New Card
            </button>
          </div>

          <!-- Notes mid-container -->
          <div id="cards-container" class="cards"></div>

          <!-- Notes bottom-navbar -->
          <div class="bottom-card-nav">
            <div class="delete-btn">
              <form method="POST" id="deleteForm">
                <button
                  id="delete"
                  class="btn btn-small btn4"
                  type="button"
                  onclick="proceed();"
                >
                  <i class="fas fa-trash"></i> Delete This Card
                </button>
              </form>
            </div>

            <!-- Clear cards -->
            <form action="/api/clear" method="POST">
              <button id="clear" class="btn btn-small btn3" type="submit">
                <i class="fa fas fa-trash"></i> Clear Cards
              </button>
            </form>
          </div>
        </div>

        <!-- Previous-Next buttons -->
        <div class="prev-next" id="prev-next">
          <button id="prev" class="nav-button">
            <i class="fas fa-arrow-left"></i>
          </button>

          <p id="current"></p>

          <button id="next" class="nav-button">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>

        <!-- Codes container -->
        <div class="flex-inner-code">
          <!-- Codes top-navbar -->
          <div class="top-code-nav">
            <button id="show4" class="btn btn-small btn1">
              <i class="fas fa-edit"></i> Update This Code
            </button>
            <h1 class="main-code">Code</h1>
            <button id="show3" class="btn btn-small btn2" type="button">
              <i class="fas fa-code"></i> Add New Code
            </button>
            <h1 class="main-input">Input</h1>
          </div>

          <!-- Codes mid-container -->
          <div id="codes-container" class="codes"></div>

          <!-- Codes bottom-navbar -->
          <div class="bottom-code-nav">
            <div class="delete-btn">
              <form method="POST" id="deleteCodeForm">
                <button
                  id="delete"
                  class="btn btn-small btn4"
                  type="button"
                  onclick="proceedDeleteCode();"
                >
                  <i class="fas fa-trash"></i> Delete This Code
                </button>
              </form>
            </div>

            <!-- Clear codes -->
            <form action="/api/clear_codes" method="POST">
              <button id="clear-codes" class="btn btn-small btn3" type="submit">
                <i class="fas fa-trash"></i> Clear Codes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Saving a New Card -->
    <div id="add-container1" class="add-container">
      <h1 id="new-card-title">
        Add New Card
        <button id="hideAdd" class="btn btn-small btn-ghost">
          <i class="fas fa-times"></i>
        </button>
      </h1>

      <form action="/api/note" method="POST">
        <div class="form-group">
          <label for="question">Question</label>
          <textarea
            placeholder="Enter question..."
            name="ques"
            id="question"
            onkeyup="getLineNumber(this, document.getElementById('lineNo1'));"
            onmouseup="this.onkeyup();"
          ></textarea>
          <div id="lineNo1"></div>
        </div>

        <div class="form-group">
          <label for="answer">Answer</label>
          <textarea
            placeholder="Enter Answer..."
            name="ans"
            id="answer"
            onkeyup="getLineNumber(this, document.getElementById('lineNo2'));"
            onmouseup="this.onkeyup();"
          ></textarea>
          <div id="lineNo2"></div>
        </div>

        <button id="add-card" class="btn" type="submit">
          <i class="fas fa-plus"></i> Add Card
        </button>
      </form>
    </div>

    <!-- Updating a new card -->
    <div id="add-container2" class="add-container">
      <h1>
        Update This Card
        <button id="hideUpdate" class="btn btn-small btn-ghost">
          <i class="fas fa-times"></i>
        </button>
      </h1>

      <form method="POST" id="update-card">
        <div class="form-group">
          <label for="question">Question</label>
          <textarea
            placeholder="Enter question..."
            name="ques"
            id="ques"
            onkeyup="getLineNumber(this, document.getElementById('lineNo1'));"
            onmouseup="this.onkeyup();"
          ></textarea>
          <div id="lineNo1"></div>
        </div>

        <div class="form-group">
          <label for="answer">Answer</label>
          <textarea
            placeholder="Enter Answer..."
            name="ans"
            id="ans"
            onkeyup="getLineNumber(this, document.getElementById('lineNo2'));"
            onmouseup="this.onkeyup();"
          ></textarea>
          <div id="lineNo2"></div>
        </div>

        <button
          id="update-card"
          class="btn"
          type="button"
          onclick="proceedUpdate()"
        >
          <i class="fas fa-edit"></i> Update Card
        </button>
      </form>
    </div>

    <!-- Coding a new code -->
    <div id="add-container3" class="add-container">
      <h1 class="codeh1">
        Write Code
        <button id="hideCode1" class="btn btn-small btn-ghost">
          <i class="fas fa-times"></i>
        </button>
      </h1>

      <button class="run" onclick="getData1();">
        <i class="fas fa-play"></i> &nbsp;Run
      </button>

      <form method="POST" id="save-code">
        <div class="form-group" id="hidden-code"></div>
        <div class="form-group" id="hidden-input"></div>
        <div class="form-group" id="hidden-output"></div>
        <div class="form-group" id="hidden-code-number"></div>
        <button class="save" type="button" onclick="saveData();">
          <i class="fas fa-save"></i> &nbsp;Save
        </button>
      </form>

      <select id="language">
        <option value="cpp">Cpp</option>
        <option value="c">C</option>
        <option value="java">Java</option>
        <option value="py">Python</option>
        <option value="go">GoLang</option>
        <option value="cs">C#</option>
        <option value="js">NodeJS</option>
      </select>
      <div id="editor1"></div>
      <div class="input">
        <textarea id="textareaInput" placeholder="Input..."></textarea>
      </div>
      <div class="output"></div>
    </div>

    <!-- Update code -->
    <div id="add-container4" class="add-container">
      <h1 class="codeh1">
        Update Code
        <button id="hideCode2" class="btn btn-small btn-ghost">
          <i class="fas fa-times"></i>
        </button>
      </h1>

      <button class="run" onclick="getData2();">
        <i class="fas fa-play"></i> &nbsp;Run
      </button>

      <form method="POST" id="update-code">
        <div class="form-group" id="hidden-updated-code"></div>
        <div class="form-group" id="hidden-updated-input"></div>
        <div class="form-group" id="hidden-updated-output"></div>
        <div class="form-group" id="hidden-updated-code-number"></div>

        <button class="save" type="button" onclick="saveUpdatedData();">
          <i class="fas fa-save"></i> &nbsp;Save
        </button>
      </form>

      <select id="language">
        <option value="cpp">Cpp</option>
        <option value="c">C</option>
        <option value="java">Java</option>
        <option value="py">Python</option>
        <option value="go">GoLang</option>
        <option value="cs">C#</option>
        <option value="js">NodeJS</option>
      </select>
      <div id="editor2"></div>
      <div class="input">
        <textarea id="textareaInput2" placeholder="Input..."></textarea>
      </div>
      <div class="output" id="update-output"></div>
    </div>
  </body>

  <!-- Highlighting code -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>

  <!-- Code editor -->
  <script src="../js/ace.js" type="text/javascript" charset="utf-8"></script>

  <script>
    // Replace \\n with \n
    function jsonEscape(str) {
      return str
        .replace(/\n/g, "\\n")
        .replace(/\r/g, "\\r")
        .replace(/\t/g, "\\t");
    }

    // Parsing saved notes
    let notes = `<%- JSON.stringify(notes) %>`;
    notes = JSON.parse(jsonEscape(notes));

    // Parsing saved codes
    let codes = `<%- JSON.stringify(codes) %>`;
    codes = JSON.parse(jsonEscape(codes));
  </script>
  <script src="../js/script.js"></script>
  <script src="../js/prev-next.js"></script>
  <script src="../js/codes.js"></script>
  <script src="../js/cards.js"></script>
</html>
