<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />

    <title>Sawali</title>
  </head>
  <body>
    <div id="flex-head" class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <section class="wrapper">
        <div class="top">Sawali</div>
        <div class="bottom" aria-hidden="true">Sawali</div>
      </section>
      <!-- <h1 style="text-align: center; color: white; font-size: 50px">Sawali</h1> -->
      <a href="/auth/google" id="google-a">
        <button id="show" class="btn-google btn-small" type="submit">
          <img
            src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg2.svg"
            alt="google"
            height="40px"
          />
          <h3 style="font-size: 30px; margin: 5px">
            <span style="color: #4285f4">L</span>
            <span style="color: #eb4335">O</span>
            <span style="color: #fbbc05">G</span>
            <span style="color: #4285f4">I</span>
            <span style="color: #34a853">N</span>
          </h3>
        </button>
      </a>
    </div>
  </body>
</html>
